<div>
    <h1>Listado de Productos 04</h1>

    {{#each prod}}
        <div>
            <p>ID:   {{this.id}}</p>
            <p>CODIGO:   {{this.code}}</p>
            <p>DESCRIPCIÓN:   {{this.description}}</p>
            <p>PRECIO:  {{this.price}}</p>
            <p>----------------------------------</p>
        </div>
    {{/each}}
</div>