<main class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 d-flex flex-column">
                <h3 class="mb-4 text-center">Inicio de Sesión</h3>
                <form id="user" class="d-flex flex-column justify-content-center">
                    <fieldset class="mb-2 text-center">
                        <label for="email" class="form-label mb-0">Email</label>
                        <input type="email" class="form-control" name="email" id="email" />
                    </fieldset>
                    <fieldset class="mb-2 text-center">
                        <label for="password" class="form-label mb-0">Password</label>
                        <input type="password" class="form-control" name="password" id="password" />
                    </fieldset>
                    <span class="d-flex justify-content-evenly">
                        <button id='login' type="submit" class="btn btn-success m-2 ms-0 w-50">Log In Con JWT</button>
                    </span>
                </form>
{{!--                 <input id='loginGitHub' type="button" onclick="loginGitHub()" class="btn btn-outline-dark m-2 ms-0 w-22" value="Log In Con GitHub">
 --}}
            </div>
        </div>
    </div>
</main>
