    <main class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex flex-column">
                    <h3>Registro de Nuevo Producto</h3>
                    <form id="productsForm">
                        <fieldset class="mb-2">
                            <label for="productCode" class="form-label">Código</label>
                            <input type="text" class="form-control" name="code" id="productCode" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" id="productTitle" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productDescription" class="form-label">Descripción</label>
                            <input type="text" class="form-control" name="description" id="productDescription" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productCategory" class="form-label">Categoria</label>
                            <input type="text" class="form-control" name="category" id="productCategory" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productPrice" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="price" id="productPrice" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productStock" class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" id="productStock" />
                        </fieldset>
                        <div class="mb-2">
                            <label for="productPhoto" class="form-label">Imágen</label>
                            <input type="text" class="form-control" name="url_photo" id="productPhoto" aria-describedby="photoSource"/>
                        </div>
                        {{#if role}}
                            <button id='newProduct' type="submit" class="btn btn-danger mt-2">Grabar Producto</button>
                        {{else}}
                            <button disabled id='newProduct' type="submit" class="btn btn-danger mt-2">Grabar Producto</button>
                        {{/if}}
                    </form>
                </div>
                <div id="productTable" class="col-6"></div>
            </div>
        </div>
    </main>
