<div>
  <h1>Productos en Tiempo Real</h1>
  <div>
    <p>La lista de productos se muestra en tiempo real. Los mismos persisten en el archivo product.json </p>
    <p>Dejando esta página abierta puede realizar cambios (POST - PUT - DEL) usando postman y los mismos se veran reflejados de forma automática </p>
  </div>
  <p id="prd" style="color:blue;font-size:18px;"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/rtproducts.js"></script>