@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ecommerce {  
  background: rgb(231, 232, 236) ;
}

.main_contacto {  
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75));
}

  nav {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  nav button {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-right: 30px;
  }


  .ul_MenuPrincipal li {
    width: 100px;
    display: inline-block;
    background-color: black;
  }

.ul_MenuPrincipal {
  margin-right: 30px;
}

.ul_MenuPrincipal .a_MenuPrincipal {
      text-decoration: none;
      color: white;
      /* display: block; */
      font-size: 18px;
      font-weight: bold;
      width: fit-content; 
    }

.ul_MenuPrincipal .a_MenuPrincipal:hover {
        background-color: slategray;
        color: black;
        font-size: 18px;
      }

.filtro {
  display: none;
}

.item_agregado {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  margin-bottom: 5px;
}

#total {
  font-weight: bold;
}

.card_agregada {
  background-color:darkgray ;
  margin-left: 10px;
}


.darkmode--activated .ecommerce .card_agregada {
  background-color: #191f3d;
  color: white   ;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;

}

.container-login {
  display: flex;
  flex-direction: column;
  background-color: azure;
  border: 1px solid grey;
  width: 30%;
  padding: 20px;
  margin-top: 40px;
  margin-left: 30px;
}

.botones {
  display: flex;
  border: 2px solid grey;
  padding: 10px;
  margin-bottom: 10px;

}

.botones .btn {
  width: 200px;
  margin-right: 10px;

}

.btn_buscar {
  background-color: #0d6efd;
  color: white;
}

.mi-slider {
  width: 800px;
  height: 200px;
  margin-bottom: 5px;
}

.swiper-slide {
  background-color:white;
  border-width: 1px;
  border-color: black;
  border-style:solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.darkmode--activated .ecommerce .swiper-slide {
  background-color:black;
  color: white;
  border-color: white;
}

.swiper-slide img {
  width: 80px;
  height: 80px;
}

.titulo_ofertas {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.footer {
  background-color: #2c2a2a;
  color: white;
  text-align: center;
  height: 80px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px; 
}

.footer img {
    height: 55px;
    width: 55px; 
  }

.footer .Whatsapp {
    position: fixed;
    bottom: 35px;
    right: 100px;
    z-index: 500; 
  }

.footer .Redes_Sociales {
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 500; 
  }

.contacto_form {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.contacto_form input {
        display: block;
        width: 350px;
        margin-top: 10px;
        margin-left: 30px; 
      }

.contacto_form select {
        display: block;
        width: 350px;
        margin-top: 10px;
        margin-left: 30px; 
      }

.contacto_form label {
        display: block;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 30px; 
      }

.contacto_form textarea {
        width: 350px;
        margin-top: 10px;
        margin-left: 30px; 
      }

.contacto_form p {
        font-size: 18px;
        font-weight: bold;
        margin-left: 30px; 
      }